.flv_disp_none{
	display: none;
}
#Top_bar .menu > li{
  text-transform: uppercase;
}
#Top_bar .menu li ul li{
	width: 280px;
  text-transform: none;
}

#Top_bar .list-dropdown {
    display: block;
    float: left;
    position: relative;
    top: 25px;
    z-index: 210;
    margin-right: 10px;
}

#Top_bar .list-dropdown a.active {
    display: block;
    padding: 8px 6px 8px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#Top_bar .list-dropdown.disabled a.active {
    padding: 8px 10px;
}

#Top_bar .list-dropdown a.active i {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 0 5px;
}

#Top_bar .list-dropdown a.active i:before {
    margin: 0;
}

#Top_bar .list-dropdown a:hover.active {
    text-decoration: none;
}

#Top_bar .list-dropdown.enabled:hover a.active {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

#Top_bar .list-dropdown ul.list-dropdown-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    z-index: 205;
    overflow: hidden;
    display: none;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#Top_bar .list-dropdown ul.list-dropdown-dropdown li {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

#Top_bar .list-dropdown ul.list-dropdown-dropdown li:last-child {
    border-bottom: 0;
}

#Top_bar .list-dropdown ul.list-dropdown-dropdown li a {
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 4px 0;
    color: #8B8B8B;
}

#Top_bar .list-dropdown ul.list-dropdown-dropdown li a:hover {
    text-decoration: none;
    color: #5F5F5F;
    background: rgba(0,0,0,.03);
}

#Top_bar .list-dropdown:hover {
    height: auto;
}

#Top_bar .list-dropdown:hover ul.list-dropdown-dropdown {
    display: block;
}

#Top_bar .list-dropdown a.active,#Top_bar .list-dropdown ul.list-dropdown-dropdown {
    background: #fff;
}

#Top_bar .list-dropdown.horizontal {
    display: block;
    padding: 8px 10px;
    border: 1px solid #e8e8e8;
    background: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#Top_bar .list-dropdown.horizontal ul li {
    float: left;
    margin-right: 6px;
}

#Top_bar .list-dropdown.horizontal ul li:last-child {
    margin-right: 0;
}
.fancy_heading h2.title{
	color: #d69942;
}

.darkbg{
	background-color: rgba(61, 43, 19, 0.86);
}

.blackbg{
	background-color: #000;
}
.blackbg a, .blackbg .desc{
	color: #fff !important;
}

.darkbg a, .darkbg .desc, .darkbg blockquote{
	color: #fff !important;
}
.trailer_box .desc h2{
	font-size: 22px;

}
.is-sticky .secondary_menu_wrapper{
	display: none !important;
}
.post-desc h2.entry-title{
	padding: 5px 0;
}
.post-desc .post-meta, .post-desc .post-footer{
	font-size: 14px;
}

#Footer{
	background-color: rgba(39, 28, 12, 0.86);
}

/* PRODUCT */
.product{
    padding-top: 20px;
}
.product .title a{
    font-size: 23px;
}
.product .description{
    display: block;
    text-align: justify;
    margin-top: 10px;
}
.product hr.hr_narrow{
    width: 45%;
    margin: 15px auto;
}
.product .action{
    font-size: 14px;
}
.productlist .price .amount{
    display: block;
    font-size: 25px;
    margin-top: 10px;
}
.productlist del .amount{
    display: block;
    font-size: 20px;
}

.futured-product h4.title{
    font-size: 24px;
    margin-top: 10px;
}
.futured-product .desc{
    text-align: justify;
    display: block;
    padding: 10px 0;
}

.woocommerce .product .product_wrapper{
    padding-left: 0;
}

.woocommerce .product .product_wrapper .product_image_wrapper .thumbnails .image_frame{
    width: auto;
    margin-top: 10px;
}
.woocommerce .product .product_wrapper .product_image_wrapper > .image_frame{
    float: none;
}

.product .product-meta{
    display: block;
}

.product .excerpt{
    display: block;
    padding: 10px 0;
}
.woocommerce .quantity input.qty{
    height: 46px;
    width: 60px;
}

.product_meta span{
    display: block;
    margin-top: 10px;
}


.tabsanpham{
  z-index: 6000;
  width: 100%;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.tabsanpham .tablist{
  text-align: center;
}
.tabsanpham .nav-tabs{
  border: none;
}
.tabsanpham .nav-tabs li{
  float: left;
  display: inline-block;
  margin: 0;
  padding: 10px !important;
  text-transform: uppercase;
  font-size: 16px;
  background-color: transparent; !important;
  color: #c4c4c4;
  border-bottom: 2px solid transparent !important;
  text-align: center;
}

.tabsanpham .nav-tabs li a{
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none !important;
  background-color: transparent !important;
}
.tabsanpham .nav-tabs li:last-child{
  /*padding-right: 0 !important;*/
}
.tabsanpham .nav-tabs li.active{
  color: #333;
  border-bottom: 2px solid #EC7A5C !important;
}
.tabsanpham .nav-tabs li a:hover{
  color: #333;
  border: none !important;
  background-color: transparent !important;
}
.affix{
  top: 0px;
  z-index: 5000;
  position: fixed !important;
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
    .affix{
      top: 60px;
    }
}
#gioithieu .post-content, #specs .specs-content, #reviewbox .review-content, #respond .review-content, .related-content{
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  text-align: justify;
}

.section-more.alignright{
    font-size: 16px;
    margin: 0;
}
.review-rating{
    display: block;
    margin-bottom: 20px;
}
.review-rating .star{
    margin-right: 15px;
    padding:0;
    border: none !important;
    cursor: pointer;
    text-decoration: none;
}
.review-rating .star:last-child{
    margin-right: 0;
}

.review-rating [class^="icon-"]:before, .review-rating [class*=" icon-"]:before{
    margin: 0;
}

#comments > :first-child, .woocommerce .product .related.products{
    border: none !important;
}


/* POST */

.post .post-excerpt{
    text-align: justify;
}

.author-date .date{
  padding-left: 10px;
}

.widget .date{
  font-size: 14px;
}
/* POST COMMENT */

#respond input[type="text"]{
    margin-bottom: 20px;
}
#respond .review-content textarea{
    width: 100%;
}
textarea#body_popup{
    width: 100%;
}
